html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}
.mainContent {
  min-height: 100%;
  display: inline-block;
  width: 100%;
  padding-top: 100px;
}

.navbar {
  padding: 0 !important;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  top: 0;
  width: 100%;
  background-color: #50582f;
  display: inline-block;
  position: fixed;
  font-family: staatliches, arial, sans-serif;
  border: 2px solid #50582f;
  border-radius: 5px;
  background-color: #1b3300;
  display: inline-block;
  position: fixed;
  font-family: "Share Tech Mono", monospace;
  border: 0px solid #1b3300;
}

/* #50582F -- last navbar background and border color  */

.navbar li {
  color: white;
}

.navbar li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  float: right;
  background-color: #a3a772;
  border: 2px solid rgba(0, 0, 0, 0.51);
  border-radius: 40px;
  width: 90px;
  text-align: center;
}

.navbar li a:hover {
  background-color: white;
  color: #3d3c3a;
  font-weight: bold;
  border: 2px solid #a3a772;
  border-radius: 40px;
}

.nav-head {
  background-color: #a3a772;
  float: left;
  padding: 14px 16px;
  border: 2px solid rgba(0, 0, 0, 0.51);
  border-radius: 40px;
}

.nav-head li {
  height: 50px;
  list-style-type: none;
}

.nav-head button {
  font-size: 1em;
  color: inherit;
  font-family: inherit;
  background-color: #a3a772;
  border: none;
  margin: 0;
  padding: 0;
}

.nav-head button:focus {
  outline: 0;
}

.mainContent {
  min-height: 100%;
  display: inline-block;
  width: 100%;
  padding-top: 100px;
  font-family: "Share Tech Mono", monospace;
  background-color: black;
}

.personal {
  width: 80%;
  margin: 0 auto;
  color: #396e00;
  background-color: black;
}

.personal h2 {
  text-decoration: underline;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.personal p {
  text-align: center;
}

.personal-list {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
  justify-content: space-evenly;
}

.personal-list li {
  color: #396e00;
}

.personal-list img {
  height: 100px;
  width: auto;
}

.img-wrapper {
  width: 100%;
  margin: 0 auto;
}

.index-img {
  margin: 0 auto;
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  float: right;
  border: 2px solid rgba(0, 0, 0, 0.51);
  background-color: #a3a772;
  border-radius: 40px;
}
li a:hover {
  background-color: white;
  color: #3d3c3a;
  font-weight: bold;
  border: 2px solid #a3a772;
  color: #3d3c3a;
  font-weight: bold;
  border: 2px solid #a3a772;
  border-radius: 40px;
}

.nav-head {
  background-color: #a3a772;
  float: left;
  padding: 14px 16px;
  border: 2px solid rgba(0, 0, 0, 0.51);
  border-radius: 40px;
}

.footer {
  background-color: #50582f;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.footer ul {
  margin: 0px;
}

.footer li {
  display: inline-flex;
  flex-shrink: 0;
}

#summaryTextColor {
  text-align: center;
}

#summaryTextColor li {
  list-style-type: none;
  color: black;
}

.black_text li {
  color: black;
}

.matrix {
  width: 30%;
  height: auto;
  display: flex-inline;
  justify-content: center;
}

.footer {
  background-color: #1b3300;
  height: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0;
  list-style-type: none;
}

.footer ul {
  margin: 0 auto;
  background-color: #1b3300;
}

.footer li a {
  display: inline-flex;
  flex-shrink: 0;
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: underline;
  background-color: #a3a772;
  border: 2px solid rgba(0, 0, 0, 0.51);
  border-radius: 40px;
  text-align: center;
}
